.FstoLoginBox-root {
  background: url(../img/background.png) 50% 50% / cover no-repeat fixed #8F69E7;
  position: relative;
  flex-grow: 1;
}

.FstoLoginBox-wrap {
  background-image: linear-gradient(165deg, rgba(171, 152, 241, 0.25) 0%, rgba(171, 152, 241, 0.15) 15%, #ab98f1 30%, #ab98f1 50%, rgba(171, 152, 241, 0.25) 90%);
  background-size: 100% 100%;
  background-position: 0% 50%;
  background-repeat: repeat-y;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
  box-shadow: 0 0 75px -10px #000;

  animation: LoginAnimation 3s linear infinite alternate;
}

.FstoLoginBox-logo {
  margin-bottom: 50px;

  opacity: 0;
  transform: translateY(142px) scale(1.15);

  animation: LoginShrinkAnimation 2s ease 100ms forwards;

  & img {
    width: 135px;
  }
}

.FstoLoginBox-form {
  width: 100%;
  opacity: 0;

  animation: LoginFadeAnimation 500ms ease 1.3s forwards;

  & .FstoLoginBox-group {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
}

.FstoLoginBox-version {
  position: absolute;
  bottom: 8px;
  right: 8px;

  color: #ffffff;
  opacity: 0.36;
}

@keyframes LoginAnimation {
  0% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 100% 200%;
  }
}

@keyframes LoginShrinkAnimation {
  0% {
    opacity: 0;
    transform: translateY(142px) scale(1.15);
  }

  50% {
    opacity: 1;
    transform: translateY(142px) scale(1.15);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(0.95);
  }
}

@keyframes LoginFadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}