.FstoNavbar-root {
  background: rgba(255, 255, 255, 0.75);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1em);
  z-index: 1297;

  @media (prefers-color-scheme: dark) {
    background-color: #1d2022;
    color: #f0f0f0;
  }

  &.dark {
    background-color: #1d2022;
  }

  &.light {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 0.87);
  }
}
@media (min-width: 1200px)
{
  .FstoNavbar-root {
    justify-content: flex-end;
  }

  .FstoNavbar-toggle {
    display: none;
  }
}

.FstoNavbar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.FstoNavbar-menu.MuiPaper-root {
  padding: 1em;
  border-radius: 8px;
}