.FstoAlertTransactionDetails-root {
  margin-bottom: 3em;

  & .FstoAlertTransactionDetails-icon {
    font-size: 2em;
  }

  & .FstoAlertTransactionDetails-title {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.4;
  }
}

.FstoBoxTransactionSteps-root {
  padding-top: 1em;
  padding-bottom: 3em;

  overflow-x: auto;
}

.FstoBoxTransactionDetails-root {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (min-width: 992px) {
    gap: 70px;
    flex-direction: row;
  }

  & .FstoBoxTransactionDetails-content {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  & .FstoDividerTransactionDetails-root:before {
    width: 0;
  }

  & .FstoListTransactionDetails-root {
    margin-bottom: 10px;
  }

  & .FstoListItemTransactionDetails-root {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    padding-top: 0;
    padding-bottom: 0;
  }

  & .FstoListItemTransactionDetails-root strong {
    text-transform: capitalize;
  }

  & .FstoListItemTransactionDetails-alt {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  & .FstoDividerTransactionDetails-root {
    border-bottom-width: thin;
  }


}

.FstoBoxTransactionForm-root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;

  & .FstoBoxTransactionForm-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}