.FstoMenuAction-root {

  .FstoMenuListAction-root {
    min-width: 96px;
  }

  .FstoMenuItemAction-root {
    font-weight: 500;
  }

  .FstoIconAction-root {
    margin-right: 8px;
    opacity: 0.75;

    font-size: 22px;
  }
}