html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  &.light {
    background: url(./assets/img/background.png) 50% 50% / cover no-repeat fixed;
  }

  &.dark {
    background: #181818;

    .FstoPurchaseOrder-root:before,
    .FstoPurchaseOrder-root:after {
      background-color: #1e1e1e;
    }

    .FstoBoxCell-head {
      background-color: rgba(206, 212, 217, 0);
    }
  }

  &.system {
    @media (prefers-color-scheme: dark) {

      .FstoPurchaseOrder-root:before,
      .FstoPurchaseOrder-root:after {
        background-color: #1e1e1e;
      }

      .FstoBoxCell-head {
        background-color: rgba(206, 212, 217, 0);
      }
    }
  }

  &.fancy {
    .FstoBox-root .MuiPaper-root {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  @media (prefers-color-scheme: dark) {
    background-image: none;
  }
}

#fsto {
  display: flex;
  flex-direction: column;

  & .fsto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-height: 100vh;
  }

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.FstoBox-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5em;
  padding: 0.5em;
  transition: all 100ms linear;

  @media (min-width: 576px) {
    gap: 1em;
    padding: 1em;
  }

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.FstoBoxToolbar-root {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;

  .FstoBoxToolbar-left,
  .FstoBoxToolbar-right {
    display: flex;
    align-items: center;

    .FstoTextFieldToolbar-root {
      width: 100%;
    }

    .FstoTextfieldSearch-root {
      border-radius: 25px;
    }

    .FstoButtonMode-root {
      margin-right: 2em;
      white-space: nowrap;
      text-transform: capitalize;
      text-decoration: underline;
    }

    .FstoButtonNew-root,
    .FstoButtonImport-root {
      margin-left: 2em;
      font-weight: 400;
      text-transform: capitalize;
    }
  }

  @media (min-width: 576px) {
    flex-direction: row;
    align-items: center;
  }
}

.FstoBoxToolbar2-root {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;

  .FstoBoxToolbar-left,
  .FstoBoxToolbar-right {
    display: flex;
    align-items: stretch;
    width: 100%;

    .FstoTextFieldToolbar-root {
      width: 100%;
    }

    .FstoTextfieldSearch-root {
      border-radius: 25px;
    }

    .FstoButtonNew-root {
      margin-left: 2em;
      font-weight: 400;
      text-transform: capitalize;
    }
  }

  .FstoBoxToolbar-left {
    align-items: center;
    justify-content: center;
  }

  .FstoBoxToolbar-right {
    flex-direction: column;
  }

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;

    .FstoBoxToolbar-left {
      width: auto;
      justify-content: initial;
    }

    .FstoBoxToolbar-right {
      flex-direction: row;
      align-items: center;
      width: auto;

      .FstoTabsToolbar-root {
        margin-right: 2em;
        margin-bottom: 0;
      }

      .FstoTextFieldToolbar-root {
        width: auto;
      }
    }
  }
}

.FstoTabsToolbar-root.MuiTabs-root {
  min-height: 30px;
  margin-bottom: 5px;

  .FstoTabsIndicator-root.MuiTabs-indicator {
    background-color: transparent;
    display: flex;
    justify-content: center;

    & .FstoTabsIndicator-root {
      background-color: #635ee7;
      width: 100%;
      max-width: 25%;
      border-radius: 1px;
    }
  }

  .FstoTab-root.MuiTab-root {
    min-width: auto;
    min-height: auto;
    padding: 8px 12px;
    text-transform: capitalize;
  }
}


.FstoTableContainer-root {
  flex-grow: 1;
  padding: 10px;

  & .FstoTable-root {
    border-collapse: separate;
    border-spacing: 0 5px;
  }

  & .FstoTableCell-root.FstoTableCell-head {
    padding: 6px 10px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    font-weight: 300;
  }

  & .FstoTableCell-root.FstoTableCell-body {
    // max-width: 0;
    padding: 6px 10px;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgba(224, 224, 224);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
  }

  & .FstoTableCell-root.FstoTableCell-body:first-of-type {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid rgba(224, 224, 224);
  }

  & .FstoTableCell-root.FstoTableCell-body:last-of-type {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid rgba(224, 224, 224);
  }
}

.FstoTableContainerMasterlist-root {
  flex-grow: 1;

  & .FstoTableCellMasterlist-root.FstoTableCellMasterlist-head {
    padding: 6px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55em;
    font-weight: 300;
  }

  & .FstoTableCellMasterlist-root.FstoTableCellMasterlist-body {
    // max-width: 0;
    padding: 6px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
  }
}

.FstoPaperForm-root {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5em 2em;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: 992px) {
    flex-basis: 370px;
  }
}

.FstoPaperTable-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 480px;
  padding-top: 4em;
  overflow-x: auto;
  overflow-y: hidden;
}

.FstoButtonForm-root.MuiButton-root {
  margin-top: 4em;
  margin-right: 0.5em;
  padding-left: 2.7em;
  padding-right: 2.7em;
  text-transform: capitalize;
}

.FstoTextfieldForm-root.MuiTextField-root {
  margin-bottom: 1.25em;
}

// .FstoLabelForm-root {}

.FstoAdrmentForm-root.MuiInputAdornment-root {
  margin-right: 0;
}

.FstoSelectForm-root.MuiFormControl-root {
  margin-bottom: 1.25em;
  text-transform: capitalize;
}

.FstoSelectForm-root.MuiAutocomplete-root {
  margin-bottom: 1.25em;
  text-transform: capitalize;

  .MuiOutlinedInput-input {
    text-transform: capitalize;
  }

  .MuiFormHelperText-root {
    text-transform: none;
  }
}

.FstoPaperImport-root {
  // background-color: green;

  .FstoPaperImport-title {
    display: flex;
    align-items: center;
    padding: 1.75em 1.25em;
    font-size: 1.10em;
    font-weight: 500;
  }

  .FstoPaperImport-subtitle {
    margin-top: 1em;
    margin-left: 0.75em;
    font-weight: 500;
  }
}

.FstoCheckboxLabel-root {
  font-size: 0.8em;
}

.FstoBoxWrapper-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 480px;
  gap: 1em
}

.FstoPaperGroup-root {
  display: flex;
  flex-direction: column;
}

.FstoPaperAttachment-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 480px;
  padding: 3em 2em;
  overflow-x: auto;
  overflow-y: hidden;

  .FstoBoxForm-attachment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
    margin-bottom: 1.25em;

    .FstoTextfieldForm-attachment {
      width: 100%;
    }

    .FstoSelectForm-attachment {
      width: 100%;
    }

    .FstoButtonForm-attachment {
      text-transform: capitalize;
    }

    .FstoButtonForm-attachment .MuiButton-startIcon {
      margin-right: 4px;
    }

    @media (min-width: 1200px) {
      flex-direction: row;

      .FstoTextfieldForm-attachment {
        flex: 1;
        width: auto;
      }

      .FstoSelectForm-attachment {
        flex: 1;
        width: auto;
      }
    }
  }

  .FstoChipForm-attachment {
    margin: 0;
    margin-right: 2px;
  }
}


.FstoPurchaseOrderBox-root {
  display: flex;
  flex-direction: column;
}

.FstoPurchaseOrder-root {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  border: 1px solid #9A9A9A;
  border-top-style: dashed;
  border-bottom-style: dashed;

  &:first-of-type {
    border-top-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-of-type {
    border-bottom-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:before {
    content: " ";
    background: #fff;
    position: absolute;
    display: block;
    bottom: -15px;
    right: -1px;
    width: 14px;
    height: 28px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border: 1px solid #9A9A9A;
    border-right: 0;
    z-index: 1;
  }

  &:after {
    content: " ";
    background: #fff;
    position: absolute;
    display: block;
    bottom: -15px;
    left: -1px;
    width: 14px;
    height: 28px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 1px solid #9A9A9A;
    border-left: 0;
    z-index: 1;
  }

  &:last-of-type:before {
    display: none;
  }

  &:last-of-type:after {
    display: none;
  }

  & .FstoPurchaseOrderStack-root {
    min-width: 1px;
    gap: 1em;
    flex: 1 1 100%;
    align-items: flex-end;
    justify-content: space-between;
  }

  & .FstoPurchaseOrderTypography-root {
    min-width: 1px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media (min-width: 576px) {
    flex-wrap: nowrap;

    & .FstoPurchaseOrderStack-root {
      gap: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    & .FstoPurchaseOrderTypography-root {
      width: 100%;
    }
  }
}

.FstoPurchaseOrderBox-variance {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}






.FstoIconButtonFilter-root.MuiIconButton-root {
  margin-left: 0.25em;
}

.FstoPaperFilter-root.MuiPaper-root {
  max-width: 430px;
  padding: 10px 20px;

  & .FstoTypographyFilter-root {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
  }

  & .FstoCheckboxFilter-root {
    display: block;
    width: 33.33333333333333%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .FstoTextfieldFilter-root {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  & .FstoButtonFilter-root {
    margin-right: 2.5%;
    text-transform: capitalize;
    float: right;
  }

  & .FstoDividerFilter-root {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.FstoDialogPassword-root {

  & .FstoDialogPassword-content {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    padding-right: 3em;
  }

  & .FstoDialogPassword-icon {
    margin-right: 16px;
    font-size: 3.25em;
  }

  & .FstoPaperPassword-root {
    min-height: 190px;
  }
}

.FstoDialogTransaction-root {

  & .FstoDialogTransaction-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .FstoDialogTransaction-actions {
    padding: 2em;
  }

  & .FstoPaperTransaction-root {
    min-height: 85vh;
  }

  & .FstoBoxTransaction-root {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    padding-left: 10px;
    padding-right: 10px;
  }
}

.FstoDialogAccountTitle-root {

  & .FstoDialogAccountTitle-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .FstoDialogAccountTitle-content {
    overflow: initial;
  }

  & .FstoPaperAccountTitle-root {
    max-width: 1100px;
    min-height: 75vh;
  }

  & .FstoBoxAccountTitle-root {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 30px;
  }

  & .FstoBoxAccountTitle-root:first-of-type {
    border-bottom: 3px solid #707070;
  }

  & .FstoSelectForm-root {
    flex-grow: 1;
    margin-bottom: 0;
  }

  & .FstoSelectForm-root:first-of-type {
    flex-grow: 0;
    flex-basis: 210px;
  }

  & .FstoTextfieldForm-root {
    flex: 1;
    margin-bottom: 0;
  }

  & .FstoTableBodyAccountTitle-root {
    border-bottom: 3px solid rgba(224, 224, 224, 1);
  }

  & .FstoTabelCellAccountTitle-root {
    border-right: 1px solid rgba(224, 224, 224, 1);
  }

}



.FstoDialogCheque-root {

  & .FstoDialogCheque-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .FstoDialogCheque-content {
    overflow: initial;
  }

  & .FstoPaperCheque-root {
    max-width: 1100px;
    min-height: 75vh;
  }

  & .FstoBoxCheque-root {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 30px;
  }

  & .FstoBoxCheque-root:first-of-type {
    border-bottom: 3px solid #707070;
  }

  & .FstoSelectForm-root,
  & .FstoTextfieldForm-root {
    flex: 1;
    margin-bottom: 0;
  }

  & .FstoTableBodyCheque-root {
    border-bottom: 3px solid rgba(224, 224, 224, 1);
  }

  & .FstoTabelCellCheque-root {
    border-right: 1px solid rgba(224, 224, 224, 1);
  }

}










input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  // @media (prefers-color-scheme: dark) {
  //   background: rgba(255, 255, 255, 0.15);
  // }
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.75);

  // @media (prefers-color-scheme: dark) {
  //   background: rgba(255, 255, 255, 0.25);
  // }
}